<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> let's take a title</title>
  </head>
  <body>
    <h1><%=title%></h1>
    <ul>
      <% for (var i=0 ;i<nav.length;i++){ %>
      <li><a href="<%=nav[i].Link %>"><%=nav[i].Text%></a></li>
      <% } %>
    </ul>
    <!-- <div class="form">
      Sign In
      <form name='signUpForm'
      action="/auth/signUp"
      method="post">
      <input type="text" name="userName" id="userName" >
      <input type="text" name="password" id="password" >
      <input type="submit" value ="Sign Up" >
      </form>
    </div> -->
    <div>
      Sign Up
      <form name="signUpForm"
      action="/Auth/signUp"
      method="post">
      <input name="userName" id="userName" >
      <input name="password" id="password" >
      <input type="submit" value ="Sign Up" >
      </form>
    </div>
  </body>
</html>
